body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fondo img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.texto1, .texto2, .texto3, .texto4, .texto7{
    font-family: "Montserrat", sans-serif;
    color: white;
}

.texto1{
    position: absolute;
    top: 11.5%;
    left: 5%;
    width: 50%;
    word-wrap: break-word;
    font-size: 9px;
}

.texto2{
    position: absolute;
    top: 14%;
    left: 5%;
    width: 50%;
    word-wrap: break-word;
    font-size: 9px;
}

.texto3{
    position: absolute;
    top: 17.8%;
    left: 5%;
    width: 50%;
    word-wrap: break-word;
    font-size: 9px;
}

.texto4{
    position: absolute;
    top: 24.3%;
    left: 3%;
    font-size: 9px;
}

.texto5{
    position: absolute;
    color: maroon;
    top: 39.1%;
    left: 18%;
    font-size: 7px;
}

.texto6{
    position: absolute;
    color: maroon;
    top: 67.7%;
    left: 33%;
    font-size: 10px;
}

.texto7{
    position: absolute;
    top: 68.5%;
    left: 33%;
    font-size: 8px;
}

.texto8,.texto9,.texto10{
    font-family: "Montserrat", sans-serif;
    font-size: 8px;
    padding: 5px;
    margin: 5px;
}

.footer-mobile {
    display: flex; /* Activa el modo Flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
    width: 100%; /* Asegúrate de que el contenedor tenga suficiente ancho */
    height: 100px; /* Ajusta la altura según sea necesario */
}