body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fondo img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.texto1, .texto2, .texto3, .texto4, .texto7{
    font-family: "Montserrat", sans-serif;
    color: white;
}

.texto1{
    position: absolute;
    top: 11.5%;
    left: 5%;
    width: 50%;
    word-wrap: break-word;
    font-size: 9px;
}

.texto2{
    position: absolute;
    top: 14%;
    left: 5%;
    width: 50%;
    word-wrap: break-word;
    font-size: 9px;
}

.texto3{
    position: absolute;
    top: 17.8%;
    left: 5%;
    width: 50%;
    word-wrap: break-word;
    font-size: 9px;
}

.texto4{
    position: absolute;
    top: 24.3%;
    left: 3%;
    font-size: 9px;
    text-align: center;
}

.texto5{
    position: absolute;
    color: maroon;
    top: 39.1%;
    left: 18%;
    font-size: 7px;
}

.texto6{
    position: absolute;
    color: maroon;
    top: 67.7%;
    left: 33%;
    font-size: 10px;
}

.texto7{
    position: absolute;
    top: 68.5%;
    left: 33%;
    font-size: 8px;
}

.texto8,.texto9,.texto10{
    font-family: "Montserrat", sans-serif;
    font-size: 8px;
    padding: 5px;
    margin: 5px;
}

.footer-mobile {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
    height: 100px;
}

.btninst{
    position: absolute;
    top: 56.7%;
    left: 17%;
    background: none;
    border: none;
    cursor: pointer;    
}

.btninst img{
    width: 120px;
    height: 25px;
}

.btninf{
    position: absolute;
    top: 74.8%;
    left: 32%;
    background: none;
    border: none;
    cursor: pointer;
}

.btninf img{
    width: 130px;
    height: 30px;
}

.btnwassp{
    position: absolute;
    top: 87.9%;
    left: 33%;
    background: none;
    border: none;
    cursor: pointer;
}

.btnwassp img{
    width: 120px;
    height: 20px;
}

.temporizador{
    position: absolute;
    top: 46.8%;
    left: 26%;
    display: flex;
    background-color: white;     
    border-radius: 10px;
    box-shadow: 0 4px 28px rgba(0,0,0,0.1);
}

.bloque{
    text-align: center;
    margin: 0 10px;
    top: 20%;
}

#dias, #horas, #minutos, #segundos{
    font-size: 16px;
    font-weight: bold;
    color: #00BFFF;    
    border-radius: 8px;
    padding: 2px;
    letter-spacing: 1px;
}

p{
    font-size: 8px;
    color: #666;
}

.Mapa{
    position: absolute;
    top: 54.3%;
    left: 55%;
}

iframe{
    width: 138px;
    height: 80px;
}

.btn-audio{
    position: absolute;
    top: 81.2%;
    left: 23.9%;
    background: none;
    border: none;
    cursor: pointer;     
}

.btn-audio svg{
    width: 200px;
    height: 40px;    
    fill: #64c702; 
}